<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card card_content">
        <div class="close">
          <button type="button" class="btn btn-dark" aria-label="Close" (click)="logout()">Cerrar Sesión</button>
        </div>
        <h1 class="title">Bienvenido {{user_name}}</h1>
        <div class="card display_flex_col padding_home">
          <div class="option" routerLink="/delivery">Domicilios</div>
          <div class="option" routerLink="/history">Historial</div>
        </div>
      </div>
    </div>
  </div>
</div>
