<div class="container">
  <div class="row">
    <div class="col-12">
      <div id="history_delivery" class="card card_content">
        <div class="close">
          <button type="button" class="btn-close" aria-label="Close" routerLink="/home"></button>
        </div>
        <h1 class="title">Historial de domicilios</h1>
        <div class="card card_option">
          <div class="row">
            <div class="col-4 display_flex_col">
              <input class="form-control" type="date" [(ngModel)]="date_filter">
              <div class="cont_btn_filter">
                <button class="btn btn-success" (click)="filterForDate()">Filtrar</button>
                <button class="btn btn-secondary" (click)="returnHistory()">Historial</button>
                <button class="btn btn-primary" (click)="printPdf()">Imprimir</button>
              </div>
            </div>
            <div class="col-8">
              <ng-container *ngIf="table_total">
                <div class="row display_flex_row">
                  <div class="col-6">
                    <table class="table table-secondary table-hover">
                      <thead>
                      <tr>
                        <th scope="col">Cantidad domicilios</th>
                        <td>{{resultDelivery.delivery_quantity}}</td>
                      </tr>
                      <tr>
                        <th scope="col">Total base</th>
                        <td>{{resultDelivery.base_total}}</td>
                      </tr>
                      <tr>
                        <th scope="col">Total domicilios</th>
                        <td>{{resultDelivery.full_delivery}}</td>
                      </tr>
                      <tr>
                        <th scope="col">Total gastos</th>
                        <td>{{resultDelivery.total_spent}}</td>
                      </tr>
                      </thead>
                    </table>
                  </div>
                  <div class="col-6">
                    <table class="table table-secondary table-hover">
                      <thead>
                      <tr>
                        <th scope="col">75% domiciliario</th>
                        <td>{{resultDelivery.delivery_percentage}}</td>
                      </tr>
                      <tr>
                        <th scope="col">25% empresa</th>
                        <td>{{resultDelivery.company_percentage}}</td>
                      </tr>
                      <tr>
                        <th scope="col">bolsillo</th>
                        <td>{{resultDelivery.pocket}}</td>
                      </tr>
                      <tr>
                        <th scope="col">Total</th>
                        <td>{{resultDelivery.total}}</td>
                      </tr>
                      </thead>
                    </table>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="table_total_filter">
                <div class="row display_flex_row">
                  <div class="col-6">
                    <table class="table table-secondary table-hover">
                      <thead>
                      <tr>
                        <th scope="col">Cantidad domicilios</th>
                        <td>{{resultFilterDelivery.delivery_quantity}}</td>
                      </tr>
                      <tr>
                        <th scope="col">Total base</th>
                        <td>{{resultFilterDelivery.base_total}}</td>
                      </tr>
                      <tr>
                        <th scope="col">Total domicilios</th>
                        <td>{{resultFilterDelivery.full_delivery}}</td>
                      </tr>
                      <tr>
                        <th scope="col">Total gastos</th>
                        <td>{{resultFilterDelivery.total_spent}}</td>
                      </tr>
                      </thead>
                    </table>
                  </div>
                  <div class="col-6">
                    <table class="table table-secondary table-hover">
                      <thead>
                      <tr>
                        <th scope="col">75% domiciliario</th>
                        <td>{{resultFilterDelivery.delivery_percentage}}</td>
                      </tr>
                      <tr>
                        <th scope="col">25% empresa</th>
                        <td>{{resultFilterDelivery.company_percentage}}</td>
                      </tr>
                      <tr>
                        <th scope="col">bolsillo</th>
                        <td>{{resultFilterDelivery.pocket}}</td>
                      </tr>
                      <tr>
                        <th scope="col">Total</th>
                        <td>{{resultFilterDelivery.total}}</td>
                      </tr>
                      </thead>
                    </table>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="cont_table">
                <ng-container *ngIf="table_list">
                  <table class="table table-success table-hover">
                    <thead>
                    <tr>
                      <th scope="col">Fecha</th>
                      <th scope="col">Detalle</th>
                      <th class="align_center" scope="col">Bases</th>
                      <th class="align_center" scope="col">Valor</th>
                      <th class="align_center" scope="col">Crédito</th>
                      <th class="align_center" scope="col">Gasto</th>
                      <th class="align_center" scope="col">Eliminar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let delivery of deliveryList">
                      <td>{{delivery.date}}</td>
                      <td>{{delivery.detail}}</td>
                      <td class="align_right">{{delivery.base}}</td>
                      <td class="align_right">{{delivery.value}}</td>
                      <td class="align_right">{{delivery.credit}}</td>
                      <td class="align_right">{{delivery.spent}}</td>
                      <td class="align_center" (click)="deleteDelivery(delivery.id)"><img class="img_delete"
                                                                                          src="assets/img/delete.png">
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </ng-container>
                <ng-container *ngIf="table_list_filter">
                  <table class="table table-success table-hover">
                    <thead>
                    <tr>
                      <th scope="col">Fecha</th>
                      <th scope="col">Detalle</th>
                      <th class="align_center" scope="col">Bases</th>
                      <th class="align_center" scope="col">Valor</th>
                      <th class="align_center" scope="col">Crédito</th>
                      <th class="align_center" scope="col">Gasto</th>
                      <th class="align_center" scope="col">Eliminar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let delivery of deliveryFilterForDate">
                      <td>{{delivery.date}}</td>
                      <td>{{delivery.detail}}</td>
                      <td class="align_right">{{delivery.base}}</td>
                      <td class="align_right">{{delivery.value}}</td>
                      <td class="align_right">{{delivery.credit}}</td>
                      <td class="align_right">{{delivery.spent}}</td>
                      <td class="align_center" (click)="deleteDelivery(delivery.id)"><img class="img_delete"
                                                                                          src="assets/img/delete.png">
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

