<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card card_content">
        <div class="close">
          <button type="button" class="btn-close" aria-label="Close" routerLink="/home"></button>
        </div>
        <h1 class="title">Historial de domicilios</h1>
        <div class="card card_option">
          <div class="row">
            <div class="col-4 display_flex_col">
              <input class="form-control" type="text" placeholder="dia-mes-año">
              <button class="btn btn-success">Filtrar</button>
            </div>
            <div class="col-8">
              <div class="row display_flex_row">
                <div class="col-6">
                  <table class="table table-secondary table-hover">
                    <thead>
                    <tr>
                      <th scope="col">Cantidad domicilios</th>
                      <td>10</td>
                    </tr>
                    <tr>
                      <th scope="col">Total base</th>
                      <td>10000</td>
                    </tr>
                    <tr>
                      <th scope="col">Total domicilios</th>
                      <td>120000</td>
                    </tr>
                    <tr>
                      <th scope="col">Total gastos</th>
                      <td>30000</td>
                    </tr>
                    </thead>
                  </table>
                </div>
                <div class="col-6">
                  <table class="table table-secondary table-hover">
                    <thead>
                    <tr>
                      <th scope="col">75% domiciliario</th>
                      <td>325000</td>
                    </tr>
                    <tr>
                      <th scope="col">25% empresa</th>
                      <td>4520000</td>
                    </tr>
                    <tr>
                      <th scope="col">bolsillo</th>
                      <td>62000</td>
                    </tr>
                    <tr>
                      <th scope="col">Total</th>
                      <td>235420</td>
                    </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="cont_table">
                <table class="table table-dark table-hover">
                  <thead>
                  <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Detalle</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Crédito</th>
                    <th scope="col">Gasto</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

