<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card card_content">
        <div class="close">
          <button type="button" class="btn-close" aria-label="Close" routerLink="/delivery"></button>
        </div>
        <h1 class="title">Agregar domicilio</h1>
        <form class="add_delivery_form">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="detail">
            <label for="detail">Detalle del domicilio</label>
          </div>
          <div class="form-floating">
            <input type="number" class="form-control" id="value">
            <label for="value">Valor del domicilio</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="credit">
            <label class="form-check-label" for="credit">
              Crédito
            </label>
          </div>
          <div class="form-floating">
            <input type="number" class="form-control" id="spent">
            <label for="spent">Gastos en el domicilio</label>
          </div>
          <button class="btn btn-primary">Crear</button>
        </form>
      </div>
    </div>
  </div>
</div>

